* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(243, 11, 235);
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

.header-box:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.side-area {
  width: 300px;
  background-color: rgb(5, 216, 16);
}

.main-area {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(59, 161, 59);
}

.main-box {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: rgb(179, 221, 79);
}

footer {
  padding: 20px;
  background-color: #52a1ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #b6e7ff;
}